//
// Here are stored the parameters related to input/output and other
// parameters specific to the pipeline in question
// More generic parameters useful for any pipeline is stored at "nextflow.config"
//




// Global default params, used in configs
params {
    // Input/output options
    input                         = null
    outdir                        = null
    save_intermediates            = true
    email                         = null

    // Unify options
    unify_gene_symbols            = false
    duplicate_var_resolution      = 'sum'
    force_obs_cols                = ''
    aggregate_isoforms            = false

    // Quality control options
    mito_genes                    = null
    ambient_correction            = 'decontx'
    ambient_corrected_integration = false
    doublet_detection             = 'scrublet'
    doublet_detection_threshold   = 1
    cellbender_epochs             = 150

    // Integration options
    integration_methods           = 'scvi'
    integration_hvgs              = 0
    integration_excluded_genes    = null
    scvi_model                    = null
    scanvi_model                  = null
    scimilarity_model             = 'https://zenodo.org/records/10685499/files/model_v1.1.tar.gz'

    // Extension options
    base_adata                    = null
    base_embeddings               = null
    base_label_col                = 'label'

    // Clustering options
    clustering_resolutions        = '0.5,1.0'
    cluster_per_label             = false
    cluster_global                = true

    // Tool options
    celltypist_model              = ''
    celldex_reference             = ''

    // Pipeline options
    qc_only                       = false
    skip_liana                    = false
    skip_rankgenesgroups          = false
    pseudobulk                    = false
    prep_cellxgene                = false

    // scVI options
    scvi_n_latent                 = 30
    scvi_n_hidden                 = 128
    scvi_n_layers                 = 2
    scvi_dispersion               = 'gene'
    scvi_gene_likelihood          = 'zinb'
    scvi_max_epochs               = null
    scvi_categorical_covariates   = ''
    scvi_continuous_covariates    = ''

    // Pseudobulking options
    pseudobulk_groupby_labels     = 'batch'
    pseudobulk_min_num_cells      = 5

    // Resource options
    memory_scale                  = 1
    use_gpu                       = false

    // Celltype assignemnt options
    celltypist_model              = null
    celldex_reference             = null

    // Copy number alterations
    gene_order                    ="s3://kumo-ihm-coqrfo4abafth35cznedenygbkq6keuc1a-s3alias/kumotestzs/lr_shared/scRNAseq/gencode_v19_gene_pos.txt"
    ref_groups                    = "immune cells"


}